<div
    th:fragment="sidebar"
    class="list-group"
>

    <a
        href="/"
        class="list-group-item
               list-group-item-action active"
    >
        Dashboard
    </a>

    <a
    th:href="@{/doctors}"
    class="list-group-item
           list-group-item-action"
>
    Doctors
</a>

    <a
    th:href="@{/appointments}"
    class="list-group-item
           list-group-item-action"
>
    Appointments
</a>

    <a
    th:href="@{/users}"
    class="list-group-item
           list-group-item-action"
>
    Users
</a>

    <a
    th:href="@{/reports}"
    class="list-group-item
           list-group-item-action"
>
    Reports
</a>

    <form
    th:action="@{/logout}"
    method="post"
>

    <input
        type="hidden"
        th:name="${_csrf?.parameterName}"
        th:value="${_csrf?.token}"
    >

    <button
        type="submit"
        class="list-group-item
               list-group-item-action
               text-danger"
    >
        Logout
    </button>

</form>

</div>